body {

   background-color: black;
}

.fonte {

    background-image: url(/imagens/backgorund.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: auto;
    width: 400px;
    height: 200px;
    margin-top: 10%;
    padding: 1px 20px;

}

#lista{
    list-style: none;
    
    
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: green;
}

#insta{
    list-style-image: url(/imagens/Insta.png);
}

