body {

   background-color: black;
}

.fonte {

    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190623/ourmid/pngtree-black-gold-high-end-atmosphere-business-card-background-image_243091.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: auto;
    width: 400px;
    height: 200px;
    margin-top: 10%;
    padding: 1px 20px;

}

#lista{
    list-style: none;
    
    
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: green;
}

#insta{
    list-style-image: url(/imagens/Insta.png);
}

